* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Ubuntu', sans-serif;
}

:root
{
  --bn-primary: #fe6901;
  --bn-accent: #ff0101;
  --bn-accent-environment: #018100;
  --bn-dark: #1b1b1a;
  --bn-light: #fdfaf7;
}

.container{
max-width: 800px;
width: 60%;
padding: 2rem 0;
margin: auto;
}

.d-flex {
    display: flex;
}

.py-3 {
  padding: 1rem 0.75rem;
}

.gender_list, .logo,
.login
{
  display: flex;
  align-items: center;
}

header {
    min-width: 1440px;
    font-size: 18px;
    color: var(--bn-light);
    background-color: var(--bn-primary); 
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.gender_list, .login {
    width: 20%;
  }
  
.logo {
    width: 60%;
    text-align: center;
  }

a {
text-decoration: none;

}

.login {
    text-align: end;
  }

.gender_list > a
{
  color: var(--ds-white);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.debug [class^='col']
{
  height: 730px;
  background-color: palegreen;
  border: 1px dashed;
}

.row {
  display: flex;
}

.col-4{
  width: calc(100% / 12 * 4);
}

[class^='col-4']
{
  padding: 0 0.25rem;
}

.img {
  max-width: 100%;
}
.img-fluid
{
  max-width: 100%;
}




