* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Ubuntu', sans-serif;
}

:root
{
  --bn-primary: #fe6901;
  --bn-accent: #ff0101;
  --bn-accent-environment: #018100;
  --bn-dark: #1b1b1a;
  --bn-light: #fdfaf7;
}

.container{
max-width: 1170px;
width: 80%;
margin: auto;
}



.d-flex {
    display: flex;
    justify-content: center;
}

.py-3 {
  padding: 1rem 0.75rem;
}

.gender_list, .logo,
.login
{
  display: flex;
  align-items: center;
}

header {
    min-width: 1440px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--bn-light);
    background-color: var(--bn-primary); 
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.gender_list, .login {
    width: 20%;
  }
  
.logo {
    width: 60%;
    text-align: center;
  }

.login {
text-align: end;
}

a {
text-decoration: none;

}



.gender_list > a
{
  color: var(--ds-white);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.debug [class^='col']
{
  height: 730px;
  background-color: palegreen;
  border: 1px dashed;
}

#site_main .row {
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  width: calc(100% / 12 * 4);
}

.row .dflex .py-3 [class^='col-4'] {
  padding: 0.5rem;
}


.img {
  max-width: 100%;
  
}

.img-first .img-second {
  max-width: 100%;
}

#site_main .card {
  position: relative;
}

#site_main .card:hover .img-first {
  display: none;
}

#site_main .card .img-second {
  display: none;
}

#site_main .card:hover .img-second {
  display: inline-block;
}



.price {
  text-decoration: line-through;
}




